.flex-container {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.form-container {
  background-color: #F2F2F2;
  margin-top: 25px;
  padding: 20px;
}

.form-container h4 {
  margin-top: 0px;
}

.contact-form textarea {
  max-width: 100%;
  max-height: 100px;
}

.danger {
  border-color: tomato;
}
